body * { 
	font-family: 'ABeeZee', 'Roboto', 'Lato', 'Roboto Condensed', 'PT Sans', sans-serif, sans-serif;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.rounded {
	border-radius: 99px !important;
}

/* buttons */
.special-button {
	border: 1px solid;
	border-image: linear-gradient(to right top, #1ee6bf, #36e7ac, #4fe798, #67e681, #7fe569);
    background-image: linear-gradient(to right top, #1ee6bf, #36e7ac, #4fe798, #67e681, #7fe569);
}

/*
 * Backgroung
*/
section.main-background {
	background-image: linear-gradient(to right top, rgba(232, 123, 192,0.7), rgba(225, 109, 203,0.7), rgba(211, 98, 218,0.7), rgba(190, 91, 234,0.7), rgba(158, 89, 253,0.7)), url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;	
}

/*
 * Typographie
*/
section h1, section h2, section h3, section h4, section h5 { color: dodgerblue !important; }
p{ font-size: 1rem; }

/*
 * Nav bar 
*/
nav#fixedNavbar {
	-webkit-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.27);
	box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.27);
	z-index: -1000;
}

nav#fixedNavbar ul li a, nav#standardNavbar ul li a {
	/* text-transform: uppercase; */
	font-weight: bold;
}

nav#fixedNavbar ul li.active a {
	color: #627BED;
}

nav#standardNavbar {
	background-color: rgba(0,0,0,0) !important;z-index: 1;
}

nav#standardNavbar *, nav#standardNavbar ul li.active a:hover {
	color: #fff;
}

nav#standardNavbar ul > li.active > a {
	color: #ccc !important;
}
/* end nav bar */

/*
 * Footer
*/
footer#footer {
	background: #233142 !important;
}
footer#footer, footer#footer p, footer#footer a {
	color: #cecece !important;
}
footer#footer h2{
	font-size: 1.4em;
}

footer#footer a {
	text-decoration: none;
}

footer#footer a:hover {
	color: white !important;
}
/* end footer */



/*
 * Tablet and Mobile device 
*/
@media only screen and (max-width: 992px) {
	nav#standardNavbar {
		background-image: linear-gradient(to right, #e87bc0, #e16dcb, #d362da, #be5bea, #9e59fd) !important;
		-webkit-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.27);
		-moz-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.27);
		box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.27);
		z-index: 1;
	}

	nav#standardNavbar *, nav#standardNavbar ul li.active a:hover {
		color: #fff;
	}

	nav#standardNavbar ul li.active a {
		color: dodgerblue !important;
	}
}

