body * { 
	font-family: 'ABeeZee', 'Roboto', 'Lato', 'Roboto Condensed', 'PT Sans', sans-serif, sans-serif;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.rounded {
	border-radius: 99px !important;
}
.rounded-soft{
	border-radius: 20px !important;
}
.lazy-rounded { border-radius: 10px !important; }

/* Active local */
ul.navbar-nav a.active-locale { color: #e0e0e0 !important; }


/* buttons */
.special-button, .btn-custom-gradient, #home-carousel a.btn-primary, .btn-custom-gradient-blue:hover {
	color: white;
	border: 1px solid;
	border-image: linear-gradient(to right top, #1ee6bf, #36e7ac, #4fe798, #67e681, #7fe569);
    background-image: linear-gradient(to right top, #1ee6bf, #36e7ac, #4fe798, #67e681, #7fe569);
}

.btn-custom-gradient:hover, #home-carousel a.btn-success, .btn-custom-gradient-blue, div.price-title, div.cookie-consent, section.custom-gradient-blue {
	border: 1px solid;
	border-image: linear-gradient(to right top, #56c7fb, #3eb7fc, #38a5fc, #4892f7, #617ced);
	color: #fff;
    background-image: linear-gradient(to right top, #56c7fb, #3eb7fc, #38a5fc, #4892f7, #617ced);
        color: #fff;
}

#home-carousel a.btn-primary:hover, #home-carousel a.btn-success:hover { color: dodgerblue; }

ul.nav-pills li.nav-item a.nav-link {
	border: 1px solid #428bca; margin: 0.5em;
}

ul.nav-pills li.nav-item a.nav-link.active, a.price, button.submit {
	border-image: linear-gradient(to right top, #1ee6bf, #36e7ac, #4fe798, #67e681, #7fe569);
	background-image: linear-gradient(to right top, #1ee6bf, #36e7ac, #4fe798, #67e681, #7fe569);
}

/*
 * Backgroung Section
 **
*/
section.main-background {
	background-image: linear-gradient(to right top, rgba(232, 123, 192,0.7), rgba(225, 109, 203,0.7), rgba(211, 98, 218,0.7), rgba(190, 91, 234,0.7), rgba(158, 89, 253,0.7)), url('../img/bg/bg_1.jpeg');
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

/* about on index page */
.short-about-index {
	background-image: linear-gradient(to right top, rgba(232, 123, 192,0.7), rgba(225, 109, 203,0.8), rgba(211, 98, 218,0.8), rgba(190, 91, 234,0.8), rgba(158, 89, 253,0.8)), url('../img/bg/bg_2.jpeg');
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.chose-your-tool {
	background-image: linear-gradient(to right top, rgba(232, 123, 192,0.9), rgba(225, 109, 203,0.9), rgba(211, 98, 218,0.9), rgba(190, 91, 234,0.9), rgba(158, 89, 253,0.9)), url('../img/bg/bg_3.jpeg');
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.gradient-blue, a.price:hover, button.submit:hover {
	background-image: linear-gradient(to right top, #56c7fb, #3eb7fc, #38a5fc, #4892f7, #617ced);
	color: #fff;
}

/*
** Prices page - dynamic form
**
*/
div#form-step, a#previous-button, div.result, div.question, div.restart {
	display: none;
}

/* Price carousel */
ol.carousel-indicators li.active { background-color: #bc3fc7; }
ol.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgba(188, 63, 199, 0.4);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f105";
  font-size: 55px;
  color: rgba(57, 168, 252, 0.4);
}

.carousel-control-prev-icon:after {
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f104";
  font-size: 55px;
  color: rgba(57, 168, 252, 0.4);
}

/* DYNAMIC FORM */ 
/* HIDE RADIO */
#dynamic-app-price [type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
/* IMAGE STYLES */
#dynamic-app-price label {
	cursor: pointer;
}

/*
** Production item preview realisations page
**
*/
a.item-preview-img img {
    transition: all 0.3s;
}
a.item-preview-img img.animate {
	transform: translateY(-0.3em);
}

button.show-item-link {
	transition: all 0.5s;
	opacity: 0;
}
button.show-item-link.animate {
	opacity: 0.8;
}

/*
 * Typographie
*/
section h1, section h2, section h3, section h4, section h5 { color: dodgerblue !important; }
section p { color: #868e96; }
p{ font-size: 1rem;}

/*
 * Nav bar 
*/
nav#fixedNavbar {
	-webkit-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.27);
	box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.27);
	z-index: -1000;
}

nav#fixedNavbar ul li a, nav#standardNavbar ul li a {
	/* text-transform: uppercase; */
	font-weight: bold;
}

nav#fixedNavbar ul li.active a {
	color: #627BED;
}

nav#standardNavbar {
	background-color: rgba(0,0,0,0) !important;z-index: 1;
}

nav#standardNavbar *, nav#standardNavbar ul li.active a:hover {
	color: #fff;
}

nav#standardNavbar ul > li.active > a {
	color: #ccc !important;
}

div.dropdown-menu a.dropdown-item:hover { background-color: transparent; color: dodgerblue !important; }
/* end nav bar */

/*
 * Footer
*/
footer#footer {
	background: #233142 !important;
}
footer#footer, footer#footer p, footer#footer a {
	color: #cecece !important;
}
footer#footer h2{
	font-size: 1.4em;
}

footer#footer a {
	text-decoration: none;
}

footer#footer a:hover {
	color: white !important;
}
/* end footer */



/*
 * Tablet and Mobile device 
*/
@media only screen and (max-width: 992px) {
	nav#standardNavbar {
		background-image: linear-gradient(to right, #e87bc0, #e16dcb, #d362da, #be5bea, #9e59fd) !important;
		-webkit-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.27);
		-moz-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.27);
		box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.27);
		z-index: 1;
	}

	nav#standardNavbar *, nav#standardNavbar ul li.active a:hover {
		color: #fff;
	}

	nav#standardNavbar ul li.active a {
		color: dodgerblue !important;
	}
}

